<div style="margin:auto;width: 600px;">
    <div>
        <h2>Login</h2>
        <div>
            <label style="margin-right:40px;">First Name</label>
            <mat-form-field>
                <input matInput placeholder="First Name">
            </mat-form-field>
        </div>
        <div>
            <label style="margin-right:40px;">Last Name</label>
            <mat-form-field>
                <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
        <div>
            <label style="margin-right:40px;">Email</label>
            <mat-form-field>
                <input matInput placeholder="name@example.com">
            </mat-form-field>
        </div>
        <div>
            <label style="margin-right:10px;">Password</label>
            <mat-form-field>
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hidse password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <label style="margin-right:10px;">Confirm Password</label>
            <mat-form-field style="margin-bottom:50px">
                <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hidse password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <button mat-raised-button (click)="register()">Register</button>
    </div>
</div>