<h4 style="margin-bottom: 2rem; margin-top: 20px;">Add new Exercise Log</h4>

<mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Log activity"  [(ngModel)] = 'workoutLog.content' name = 'content'>
        </mat-form-field>
    </mat-dialog-content>
    
    <mat-dialog-actions>
        <button style="margin-right:20px;" class="mat-raised-button"(click)="close()">Cancel</button>
        <button class="mat-raised-button mat-primary"(click)="addLog()" [disabled]="!workoutLog.content">Add</button>
    </mat-dialog-actions>
